<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Cookie&display=swap" rel="stylesheet">
    <title>Inspirational Quotes</title>
</head>

<body>
    <div>
        <h1>My Quotes</h1>
        <p>welcome to my inspirational <strong>quotes</strong>:</p>
        <hr>
        <ul>
            <li *ngFor='let quote of quotes'>
                {{quote.name}}
                <app-quote-detail [quote]='quote'></app-quote-detail>
            </li>
        </ul>
    </div>
    <p>
        {{quote.description}}
    </p>
</body>

</html>