<div class="container-fluid">
    <h2 class="text-center">Create a new Quote</h2>
    <hr>
    <form #quoteForm='ngForm'>
        <div class="form-group">

            <label for="name">Name</label>
            <input type="text" required class="form-control" id="name" [(ngModel)]="newQuote.name" name="Quote"
                #name='ngModel' required>
            <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                <p>Name is required</p>
            </div>
        </div>


        <div class="form-group">

            <label for="Quote">Quote</label>
            <textarea class="form-control" id="Quote" rows="4" [(ngModel)]="newQuote.Quote" name ="Quote" #Quote = "ngModel"required></textarea>
            <div [hidden]="Quote.valid || Quote.pristine" class="alert alert-danger">
                <p>Quote is required</p>
              </div>
          </div>

    
        <div class="form-group">
            <label for="complete">Completion</label>
            <input type='date' id="complete" [(ngModel)]="newGoal.completeDate" name="completeDate" #completeDate="ngModel" required>
            <div [hidden]="completeDate.valid || completeDate.pristine" class="alert alert-danger">
              <p>Date is required</p>
            </div>
        </div>
        <button type="submit" class="btn btn-success">Add Quote</button>
    </form>
</div>